<section class="juego">
  <div class="tablero disabledBox" id="tablero">
    <div class="celdas" id="celdas1">
      <div class="celdaRevision">
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="obtenerCodigoInput(1)"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
    <div class="celdas" id="celdas2">
      <div class="celdaRevision">
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="obtenerCodigoInput(2)"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
    <div class="celdas" id="celdas3">
      <div class="celdaRevision">
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="obtenerCodigoInput(3)"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
    <div class="celdas" id="celdas4">
      <div class="celdaRevision">
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="obtenerCodigoInput(4)"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
    <div class="celdas" id="celdas5">
      <div class="celdaRevision">
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="obtenerCodigoInput(5)"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
    <div class="celdas" id="celdas6">
      <div class="celdaRevision">
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
        <div class="revision"></div>
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="obtenerCodigoInput(6)"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
    <div class="celdas" id="resolver">
      <div class="celdaRevision">
        
      </div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda white" (click)="cambiarDeColorLaCelda($event)"></div>
      <div class="celda celda-btn">
        <div class="button">
          <button class="btn btn-success" (click)="resolver()"><i class="bi bi-check"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>


