<section class="contenedor">
  <header>
    <section class="title">
      <h1>{{title}}</h1>
    </section>
    <section class="menu">
      <div class="tiempo">{{ timer }}</div>
      <div class="puntaje">{{ puntuacion }}</div>
      <div class="comandos">
        <button
          [ngClass]="btnStart ? 'btn btn-primary mx-1' : 'btn btn-danger mx-1'"
          (click)="startOrStop()"
          *ngIf="!btnRestart"
        >
          <span *ngIf="btnStart"> <i class='bi bi-play'></i> </span>
          <span *ngIf="!btnStart"> <i class='bi bi-stop'></i> </span>
        </button>
        <button class="btn btn-warning mx-1" (click)="restart()" *ngIf="btnRestart"><i class="bi bi-arrow-clockwise"></i></button>
      </div>
    </section>
  </header>
  <main>
    <section class="container-main">
      <app-tablero (enviarEstado)="hayGanadorOPerdedor($event)" (restart)="activarRestart($event)"></app-tablero>
    </section>
    <section class="mensaje">
      <div class="acierto">
        <div class="imgs">
          <img class="win" src="../../../assets/acierto.png" alt="acierto" />
          <img
            class="lose"
            src="../../../assets/desacierto.png"
            alt="desacierto"
          />
        </div>
      </div>
    </section>
  </main>
  <footer>
    <section class="footer">
      <p>created by WolfTeI {{year}}. All rights reserved.</p>
    </section>
  </footer>
</section>
